{% extends "base.html" %}

{% block content %}
    <table>

        <tr valign="top">
            <td><img src="../static/杜甫.jpg" alt=""/></td>
            <td>
                <h1>诗人: {{ user.username }}</h1>
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                    <p>最后一次查看：{{ user.last_seen }}</p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

{% endblock %}