{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px">
                <img src="../static/{{ user.username }}.jpg" title="{{ user.username }}" width="100%"/>
            </td>
            <td>
                <h1>诗人: {{ user.username }}</h1>
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                    <p>最近活跃：{{ moment(user.last_seen).fromNow() }}</p>
                {% endif %}
                <p>{{ user.followers.count() }} 粉丝，{{ user.followed.count() }} 关注。</p>
                {% if user  == current_user %}
                    <p><a href="{{ url_for('main.edit_profile') }}">编辑用户详情</a></p>
                {% elif not current_user.is_following(user) %}
                    <p><a href="{{ url_for('main.follow',username=user.username) }}">关注</a></p>
                {% else %}
                    <p><a href="{{ url_for('main.unfollow', username=user.username) }}">取消关注</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }} "><span aria-hidden="true">&larr;</span>
                    上一页</a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }} "><span aria-hidden="true">&rarr;</span>
                    下一页</a>
            </li>
        </ul>
    </nav>


{% endblock %}